* {
  font-family: Helvetica;

}

img {
  box-shadow: 10px 10px 10px rgba(100, 100, 100, 5);
}
.head{
  background-image: url("https://cdn-media.rtl.fr/cache/N3qD8yVV_Q1DpA8Xoz-9xQ/880v587-0/online/image/2017/0525/7788706726_popcorn-time-est-l-un-des-quatre-lecteurs-concernes-par-la-vulnerabilite.jpg");
  opacity: 0.6;
  height: 300px;
}
body{
  background-color: black;
}

.list{
  display: flex;
  margin-bottom: 20px;
  overflow: auto;
  padding: 20px;
}

.item {
  margin-left: 20px; 
  text-align: center;
  color: white;
}

button {
  visibility: hidden;
  margin-top: 10px;
  border: none;
  padding: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.remove-btn {
  background: rgb(158, 56, 56);
}

.remove-btn:hover {
  background-color: red;
}

.add-btn {
  background-color: rgb(63, 56, 158);
}

.add-btn:hover {
  background: blue;
}


.item:hover button{
  visibility: visible;
}

h2 {
  color: white;
  margin: 30px;
}

